:root{ 

	--main-color: #1a2d66;
	--gray01: #969696;
	--gray02: #dcdcdc;
	--gray03: #757575;


	/* --font-family: "Poppins ,  sans-serif" */
}

.bg_gray{ background-color: #f1f2f3;}


/* .font-family */
/* h2 , .main_tit , .sub_title > h3 {font-family: PoppinsBold;} */

/* .wdith1790{width: 93.22916666667%;} */

.width1200{width: 62.5%;}
.width800{width: 41.66666666667%;}
.contentArea{width: 1200px; margin: 0 auto 140px;}

.moreBtn{display: flex;width: fit-content;  align-items: center; background-color: var(--main-color);  border-radius: 100px; border: none; padding: 16px 25px; }
.moreBtn b{ font-size: 14px; color: #fff; margin-right: 32px; }
.searchBtn {background-color: var(--main-color); border: none; }

@media screen and 
(max-width:1200px) {
	.wdith1790{width: unset; padding: 0 30px;}
	.moreBtn{height: 60px;  border: none; padding: 16px 25px; }
	.moreBtn b{ font-size: 20px; }

}