:root{ 

	--main-color: #1a2d66;
	--gray01: #969696;
	--gray02: #dcdcdc;
	--gray03: #757575;


}

.bg_gray{ background-color: #f1f2f3;}


/* .font-family */
/* h2 , .main_tit , .sub_title > h3 {font-family: PoppinsBold;} */

/* .wdith1790{width: 93.22916666667%;} */


.width1200{max-width: 1200px; margin: 0 auto;}

.moreBtn{display: flex;width: fit-content;  align-items: center; background-color: var(--main-color);  border-radius: 100px; border: none; padding: 16px 25px; }
.moreBtn b{ font-size: 1.4rem; color: #fff; margin-right: 32px; }
.searchBtn {background-color: var(--main-color); border: none; }

@media screen and 
(max-width:1200px) {
	.width1200{margin: 0 30px; }
	.wdith1790{width: unset; padding: 0 30px;}
	.moreBtn{height: 60px;  border: none; padding: 16px 25px; }
	.moreBtn b{ font-size: 2rem; }

}